/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.component-body {
  margin: auto;
  max-height: 800px;
  max-width: 1400px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 7px 15px #888888;
}
